<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-8 col-lg-6">

      <div class="card mt-5">
        <div class="card-header">
          <h4 class="card-title">Fileupload</h4>
          <div class="card-subtitle">Drop a file in the area below</div>
        </div>
        <div id="dropzone" class="card-body" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event)">
          <h2><i class="fas fa-file-upload"></i></h2>
          <h2>Upload</h2>
        </div>
        <div id="card-footer" class="card-footer">
          Nothing to see yet
        </div>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>